---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Johndel Torrizo.">
	
	<main>
		<img src="https://avatars.githubusercontent.com/u/72369431?s=400&u=a827a1c3d0e903ae39f0beada429c6b27ca2c105&v=4"
		class="profile-picture" />
		<h1>Hi, I'm Jd!</h1>
		<p class="description">
			I'm a mechatronics engineer student passionate about robotics and automation. 
		</p>
		<p class="subtitles"> My Projects</p>
		<ul role="list" class="link-card-grid">
			<Card
				image='https://dummyimage.com/600x400/ffffff/f2f2f2.png&text=...'
				href=""
				title=""
			/>
			<Card
				image='https://dummyimage.com/600x400/ffffff/f2f2f2.png&text=...'
				href=""
				title=""
			/>
			<Card
				image='https://dummyimage.com/600x400/ffffff/f2f2f2.png&text=...'
				href=""
				title=""
			/>
			<Card
				image="https://dummyimage.com/600x400/ffffff/f2f2f2.png&text=..."
				href=""
				title=""
			/>
			<Card
				image='https://dummyimage.com/600x400/ffffff/f2f2f2.png&text=...'
				href=""
				title=""
			/>
			<Card
				image='https://dummyimage.com/600x400/ffffff/f2f2f2.png&text=...'
				href=""
				title=""
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 75%;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.subtitles {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.description {
		margin-bottom: 2rem;
		/* border: 1px solid rgba(var(--accent-light), 25%); */
		background: none;
		padding: 1.5rem;
		border-radius: 8px;
		margin: 0 auto;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(24ch, 2fr));
		gap: 2rem;
		padding: 0;
	}
	.profile-picture {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		object-fit: cover;
		display: block;
		margin: auto;
	}
</style>
